/* gives me that awesome chainsaw man banner */
[aria-label="Snare-Hawk"] .banner-1YaD3N,
[style="background-color: rgb(27, 207, 154);"].profileBanner-1owKI5,
.settingsBanner-1eDJ5w {
	content: url("https://i.imgur.com/gFGiZ9D.jpg");
	height: auto;
}

.userInfo-regn9W [data-user-id="301082610438897664"] {
	top: 240px !important;
}
