/* reverts the unread and mention notification bar that is different in public servers for some reason to look like they normally do */
[class^="sidebar"] [class^="bar"] {
    width: 208px;
    background-color: var(--background-accent);
}

[class^="sidebar"] [class^="barText"] {
    color: var(--status-positive-text) !important;
}

[class^="sidebar"] [class^="bar"] div:not([class^="mentionsBar"]) {
    text-transform: uppercase;
    margin: auto;
}

[class^="sidebar"] [class^="bar"][class^="mentionsBar"] [class^="barText"] {
    content: " " !important;
    font-size: 0px;
    padding: 0px;
}
[class^="sidebar"]
    [class^="bar"][class^="mentionsBar"]
    [class^="barText"]::after {
    content: "New Mentions";
    font-size: 12px !important;
}

[class^="sidebar"] [class^="bar"][class^="mentionsBar"] {
    background: var(--status-danger) !important;
    height: 16px !important;
}

[class^="sidebar"] [class^="bar"] svg {
    display: none;
}
