/* fixes RiiConnect24's default icon */
div [data-list-item-id="guildsnav___206934458954153984"] img,
.container-12Vzf8 [src*="206934458954153984"] {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.png");
	max-width: 96px;
	max-height: 96px;
}
div [data-list-item-id="guildsnav___206934458954153984"]:hover {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.gif");
	max-width: 96px;
	max-height: 96px;
}

.pd-mutualGuilds div[aria-label="RiiConnect24"] div {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.png");
	height: 30px;
	width: 30px;
	border-radius: 9px;
	margin-left: 1px !important;
}

[aria-label="User Profile Modal"]
	.listRow-2nO1T6
	[style*="206934458954153984"] {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.png");
	max-height: 40px;
	max-width: 40px;
}

[alt="RiiConnect24"].guildIcon-2SUGiq {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.png");
}

[mask="url(#svg-mask-squircle)"] [alt="RiiConnect24"].guildIcon-2SUGiq {
	content: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.gif");
}

[style*="206934458954153984"] {
	background-image: url("https://snare-hawk.github.io/snare-CSS/images/RC24_fix.gif") !important;
}

/* always has the normal server icon for Nintendo Homebrew */
div [data-list-item-id="guildsnav___196618637950451712"] img,
.container-12Vzf8 [src*="19661863795045171"] {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.png");
	max-width: 96px;
	max-height: 96px;
}
div [data-list-item-id="guildsnav___196618637950451712"]:hover {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.gif");
	max-width: 96px;
	max-height: 96px;
}

.pd-mutualGuilds [aria-label="Nintendo Homebrew"] div {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.png");
	height: 30px;
	width: 30px;
	border-radius: 9px;
	margin-left: 1px !important;
}

[aria-label="User Profile Modal"]
	.listRow-2nO1T6
	[style*="196618637950451712"] {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.png");
	max-height: 40px;
	max-width: 40px;
}

[alt="Nintendo Homebrew"].guildIcon-2SUGiq {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.png");
}

[mask="url(#svg-mask-squircle)"] [alt="Nintendo Homebrew"].guildIcon-2SUGiq {
	content: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.gif");
}

[style*="196618637950451712"] {
	background-image: url("https://snare-hawk.github.io/snare-CSS/images/NH_icon.gif") !important;
}
