/* fixes RiiConnect24's default icon */
div [data-list-item-id="guildsnav___206934458954153984"] img {
    content: url("images/RC24_fix.png");
    max-width: 96px;
    max-height: 96px;
}
div [data-list-item-id="guildsnav___206934458954153984"]:hover img {
    content: url("images/RC24_fix.gif");
    max-width: 96px;
    max-height: 96px;
}

.pd-mutualGuilds div[aria-label="RiiConnect24"] div {
    content: url("images/RC24_fix.png");
    height: 30px;
    width: 30px;
    border-radius: 9px;
    margin-left: 1px !important;
}

[class*="userProfileModalInner"]
    [class*="listRow"]
    [style*="206934458954153984"] {
    content: url("images/RC24_fix.png");
    max-height: 40px;
    max-width: 40px;
}

[alt="RiiConnect24"][class*="guildIcon"] {
    content: url("images/RC24_fix.png");
}

[mask="url(#svg-mask-squircle)"] [alt="RiiConnect24"][class*="guildIcon"] {
    content: url("images/RC24_fix.gif");
}

[style*="icons/206934458954153984"] {
    background-image: url("images/RC24_fix.gif") !important;
}

.powercord-fake-modal-container
    .avatarStack-3vfSFa
    img[src*="206934458954153984"] {
    content: url("images/RC24_fix.png") !important;
}

/* always has the normal server icon for Nintendo Homebrew */
div [data-list-item-id="guildsnav___196618637950451712"] img {
    content: url("images/NH_icon.png");
    max-width: 96px;
    max-height: 96px;
}
div [data-list-item-id="guildsnav___196618637950451712"]:hover img {
    content: url("images/NH_icon.gif");
    max-width: 96px;
    max-height: 96px;
}

.pd-mutualGuilds [aria-label="Nintendo Homebrew"] div {
    content: url("images/NH_icon.png");
    height: 30px;
    width: 30px;
    border-radius: 9px;
    margin-left: 1px !important;
}

[class*="userProfileModalInner"]
    [class*="listRow"]
    [style*="196618637950451712"] {
    content: url("images/NH_icon.png");
    max-height: 40px;
    max-width: 40px;
}

[alt="Nintendo Homebrew"][class*="guildIcon"] {
    content: url("images/NH_icon.png");
}

[mask="url(#svg-mask-squircle)"] [alt="Nintendo Homebrew"][class*="guildIcon"] {
    content: url("images/NH_icon.gif");
}

[style*="icons/196618637950451712"] {
    background-image: url("images/NH_icon.gif") !important;
}

.powercord-fake-modal-container
    .avatarStack-3vfSFa
    img[src*="196618637950451712"] {
    content: url("images/NH_icon.png") !important;
}
