/** this was before plugin settings became native
/* sorts and seperates plugins in settings */
/* separator above "REPLUGGED" 
[data-item-id="Overlay"] + .separator-2wx7h6 {
	display: flex;
	flex-direction: column;
}

/* custom separator 
[data-item-id="Overlay"] + .separator-2wx7h6::before {
	content: "";
	order: 1;
	border-top: 1px solid var(--background-modifier-accent);
	position: relative;
	top: calc(79px + calc(34px * var(--multiplier)));
}

/* header 
[data-item-id="Overlay"] + .separator-2wx7h6::after {
	content: "PLUGIN SETTINGS";
	order: 2;
	color: var(--channels-default);
	font-family: var(--font-display);
	font-weight: 700;
	font-size: 12px;
	position: relative;
	top: calc(95px + calc(34px * var(--multiplier)));
}

/* moves down the plugin settings and anything below them a bit 
[data-item-id="pc-updater"] ~ div {
	position: relative;
	top: -34px;
}
*/
/* the sorting */
/* adds CSS toggler and bdCompact to the replugged tab and moves the updater tab */

.side-2ur1Qk > div[data-item-id="pc-moduleManager-plugins"] {
	order: 1 !important;
}

.side-2ur1Qk > div[data-item-id="bdCompat"] {
	order: 2 !important;
}

.side-2ur1Qk > div[data-item-id="pc-moduleManager-themes"] {
	order: 3 !important;
}

.side-2ur1Qk > div[data-item-id="pc-moduleManager-css"] {
	order: 4 !important;
}

.side-2ur1Qk > div[data-item-id="css-toggler"] {
	order: 5 !important;
}

.side-2ur1Qk > div[data-item-id="pc-updater"],
.side-2ur1Qk > div[data-item-id="pc-updater"] ~ div {
	order: 6;
}

.item-3XjbnG[data-item-id="pc-updater"] {
	align-items: unset !important;
	overflow: visible;
}
